{
  "checks": {
    "rabbitmq": {
      "command": "check-rabbitmq-alive.rb --host rabbit --username {{ .Env.USERNAME }} --password {{ .Env.PASSWORD }}",
      "handlers": ["slack"],
      "subscribers": [
        "rabbitmq"
      ],
      "interval": 60,
      "occurrences": 1,
      "refresh": 1800
    }
  }
}
